<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>rp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
  <style>
    html {
      touch-action: manipulation;
    }

  </style>
</head>

<body>
  <section class="section">

    <div class="container">

      <h1 class="title">Random Picker</h1>

      <div id="app">
        <article class="panel is-success">
          <p class="panel-heading">
            Current
          </p>
          <div class="panel-block" v-if="_.isEmpty(current)">nothing</div>
          <div class="panel-block is-size-1" v-else>
            <div class="is-block has-text-centered" style="width: 100%;">
              {{ current }}
            </div>
          </div>
        </article>

        <article class="panel is-info">
          <p class="panel-heading">
            Picked
          </p>
          <div class="panel-block is-block" v-for="item in picked">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">{{ item.value }}</div>
              </div>
              <div class="level-right">
                <div class="level-item is-size-7">
                  at {{
                    [
                      ('00' + item.at.getHours()).slice(-2),
                      ('00' + item.at.getMinutes()).slice(-2),
                      ('00' + item.at.getSeconds()).slice(-2)
                    ].join(':')
                  }}
                </div>
              </div>
            </div>
          </div>
          <div class="panel-block" v-if="picked.length === 0">nothing</div>
        </article>

        <article class="panel is-warning">
          <p class="panel-heading">
            Remains
          </p>
          <div class="panel-block" v-for="(item, index) in remains">
            <a v-on:click="pickat(index)" class="delete" style="margin-right: 10px;"></a>
            {{ item }}
          </div>
          <div class="panel-block" v-if="remains.length === 0">nothing</div>
        </article>

        <article class="panel">
          <p class="panel-heading">
            Source list
          </p>
          <div class="panel-block">
            <textarea v-model="rawlist" class="textarea" placeholder="Enter some"></textarea>
          </div>
        </article>

        <nav class="navbar is-fixed-bottom" style="padding:10px">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <button v-on:click="reset" class="button is-danger is-rounded">Reset</button>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button v-on:click="pick" class="button is-primary is-rounded is-medium">Pick randomly</button>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

  </section>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        rawlist: '',
        remains: [],
        picked: [],
        current: ''
      },
      mounted() {
        if (localStorage.rawlist) {
          this.rawlist = localStorage.rawlist;
          this.remains = this.makelist();
        }
      },
      watch: {
        rawlist(rawlist) {
          localStorage.rawlist = rawlist;
          this.remains = this.makelist();
        }
      },
      methods: {
        makelist: function () {
          return _.uniq(_.compact(this.rawlist.split('\n')));
        },
        addToPicked(current) {
          this.picked.push({
            value: this.current,
            at: new Date()
          });
        },
        pick: function () {
          if (this.remains.length > 0) {
            this.remains = _.shuffle(this.remains);
            this.current = this.remains.pop();
            this.addToPicked(this.current);
          } else {
            alert('nothing to pick');
          }
        },
        pickat: function (index) {
          this.current = _.pullAt(this.remains, index)[0];
          this.addToPicked(this.current);
        },
        reset: function () {
          if (confirm('Are you sure you want to reset?')) {
            this.remains = this.makelist();
            this.current = '';
            this.picked = [];
          }
        }
      }
    })

  </script>
</body>

</html>
